* {
    box-sizing: content-box;
}


body{
    background-color: #EAC926;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

main{
    text-align: center;
}

footer{
    background-color: white;
    text-align: center;
    margin: 0px;
}

.main-section-top {
    display: flex;
    background-color: rgb(197, 197, 197);
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-section-bottom {
    display: flex;
    background-color: rgb(197, 197, 197);
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-header{
    padding: 15px;
    margin: 15px;
}

.main-header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo{
    width: 40vw;
    margin-bottom: auto;
}

.main-header-form {
    width: 40vw;
}

.titulares{ 
    font-size: 20px;
    text-align: left;
    margin-left: 19px;
    color:rgb(37, 37, 37)
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
    color:rgb(30, 162, 52);
}
.descripciones{
    font-size: 16px;
    display: none;
}
.compraCuotas{
    text-align: center;
}
.fa-credit-card{
    padding-top: 40px;
    color:#03264C;
    font-size: 2em;
}
.fa-gift{
    color:#03264C;
    font-size: 2em;
}
.fa-user-shield{
    color:#03264C;
    font-size: 2em;
}
.a-la-izquierda{
    text-align: left;
    display:none;
    padding-inline-start: 0px;
}
.burger-menu {
    max-width: 25px;
    border-radius: 15%;
    background-color:#03264C;
    color: white;
    display: block;
    padding: 5px;
    text-align: center;
    margin: auto;
}


.tres-ultimos{
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#copy{
    font-size: 10px;
    margin-left: 20px;
    margin-top:-35px;
    text-align: justify;
    padding-bottom: 20px;
}

.producto{
    margin-bottom: 10px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(30, 162, 52);
  }

.fa-truck{
    color:rgb(30, 162, 52);
    font-size: 10px;
    margin-left:10px;
}

.container-producto{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    text-align: left;
}

ul{
    list-style: none;
    padding-inline-start: 0px;
}

@media (min-width: 361px){
    .descripciones {
        display:inline;
    }
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .a-la-izquierda{
        display: inline;
    }
    .burger-menu{
        display: none;
    }
}

@media (min-width: 769px){
    .descripciones {
        display:inline;
    }
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .a-la-izquierda{
        display: inline;
    }
    .burger-menu{
        display: none;
    }
}
    